Status {
  height: 100%;
}

Disassembly {
    width: 1fr;
    height: 1fr;
    border: heavy white;
}

Disassembly .address {
  color: white;
}

Disassembly .instruction-word {
  color: brown;
}

Disassembly .instruction-disassembly {
  color: brown;
}

Registers {
    width: auto;
    height: auto;
    border: heavy white;
    padding-right: 1;
}
