Status {
  height: 100%;
}

Disassembly {
    width: 1fr;
    height: 1fr;
    border: heavy white;
    padding: 1;
}

Registers {
    width: auto;
    height: auto;
    border: heavy white;
    padding: 1;
}
